html {
  box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    position: relative;
}

h1,h2,h3,h4 {
  color: #777;
  font-weight: 400;
  letter-spacing: 0.3rem;
}

h1 {
  font-size: 2rem;
}

h1,h2 {
  font-weight: 700;
}

p {
  color: #777;
  font-size: 1rem;
  line-height: 28px;
  word-spacing: 1px;
  letter-spacing: 0.1rem;
}

.hero p {
  font-size: 0.8rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;	
}

ul li{
  color: #777;
  font-size: 1rem;
  line-height: 28px;
  word-spacing: 1px;
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover, a:focus {
  color: #BCB1B4;
}

.a-active {
  border-bottom: solid 1px #777;
}

button {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 28px;
  word-spacing: 1px;
  letter-spacing: 0.1rem;
  background-color: #FFF;
  color: #BCB1B4;
  border: solid 1px #fff;
  border-radius: 10%;
}

button:hover, button:focus{
    border: solid 1px #BCB1B4;
    border-radius: 10%;
}

.active {
    background: #BCB1B4;
    color: #FFF;
}

img {
	width: 100%;
	max-width: 100%;
}

.nav-bar {
	margin: 20px;
}

.brand {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  padding: 10px 0 0 0;
}

#nav-menu{
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
}

nav ul {
  display: none;
  list-style: none;
  padding: 0;
  text-align: center;
}

.hero {
  background: url('../images/header-bg.jpg') no-repeat;
  background-size: 100%;
  background-position: center;
  height: 60vh !important;
}

.hero-page {
  background: url('../images/header-page-bg.jpg') no-repeat;
  background-size: 100%;
  background-position:center;
  height: 40vh !important;  
}

.hero-page h1 {
  color: #FFF;
}

.title {
    padding: 100px 0;
    text-align: center;
}

#portfolio {
	position: relative;
	display: block;
}

.thumb {
	padding: 0 5% 5% 5%;
}

.thumb img {
  width: 100%;
  max-width: 100%;
}

#work1, #work2, #work3 {
  cursor: pointer;
}

#caption1, #caption2, #caption3 {
  display: none;
}

#about, #recom, .wrapper, #fun {
  margin: 5% 5%;
}

.wrapper{
  padding: 5% 0;
}

#experience {
  background-color: #F5F3F3;
}

#about h3, .wrapper h3, #recom h3{
	margin: 5% auto;
}

.intro {
	margin-bottom: 10%;
}

.testimony {
  background-color: #F5F3F3;
  padding: 40px 20px 20px 20px;
  position: relative;
  border-radius: 4px;
  margin: 5%;
}

.testimony .quote {
  position: absolute;
  top: -40px;
  left: 50%;
  right: 0;
  margin-left: -30px;
}


#visual{
  margin: 2rem 2rem;
}

#filter {
  margin-top: 2rem;
  text-align: center;
}

.tile {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.tile img {
    margin-bottom: 1rem;
}

.scale-anm {
  transform: scale(1);
}

.fun-list{
  margin-bottom: 50px;
}





footer {
	background-color: #555;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 10%;
}

footer p {
  color: #FFF;
}

footer p, cite {
  font-size: 0.8rem;
  line-height: 28px;
  word-spacing: 0.8px;
  letter-spacing: 0.1rem;
}

footer a {
	margin: 1rem 0.8rem;
	color: #FFF;
}


@media screen and (min-width: 650px){

	#nav-menu {
	  display: none;
	}

	nav ul {
		margin: 0 auto;
		display: flex;
		width: 35%;
		justify-content: space-between;
	}

  #portfolio {
    margin: 5% auto;
  }

  .thumb {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  #work1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  #caption1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  #work2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  #caption2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #work3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  #caption3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  #caption1, #caption2, #caption3 {
    display: block;
    padding: 0 5%;
  }

	#about, #recom, .wrapper {
    text-align: center;
	}

	.skills {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}


	.icon {
		font-size: 2rem;
		padding: 30px;
		color: #FFF;
		background-color: #BCB1B4;
		border-radius: 30px;
	}
	
	.column-item, .funtext{
		padding: 0 5%;
	}

	#recom {
		padding: 5% 10%;
	}

  #visual{
    margin: 2rem auto;
    column-count: 2;
    column-gap: 1rem;
    column-width: 40%;
    width: 80%;
  }

  #fun {
    max-width: 80%;
    margin: 5% auto;
  }

  .fun-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
    margin-bottom: 0;
    background-color: #F5F3F3;
  }

  .fun-left {
    grid-column: 2 / 3; 
    grid-row: 1 / 2;   
  }

  .fun-right {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }



	@media screen and (min-width: 1000px){

		.nav-bar {
		  width: 80%;
		  margin: 30px auto;
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
	}

		#nav-menu {
		  display: none;
		}

		nav ul {
		  display: flex;
		}

		nav ul li {
		  padding-right: 20px;
		}

    #portfolio {
      margin: 5% 5%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      align-content: center;
    }

    .thumb {
      display: block;
    }

		.thumb1 {
		  grid-column: 1 / 2;
		  grid-row: 1 / 3;
		}

		.thumb2 {
		  grid-column: 2 / 3;
		  grid-row: 1 / 3;
		}

		.thumb3 {
		  grid-column: 3 / 4;
		  grid-row: 1 / 3;
		}

    #caption1, #caption2, #caption3 {
      display: none;
      padding: 0 0;
    }
		#about {
		  margin: 5% 10%;
		}

		.intro {
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: start;
			text-align: left;
		}

    #visual{
      column-count: 3;
      column-gap: 2rem;
      column-width: 80%/3;
    }

    #fun {
      max-width: 60%;
    }

