@media only screen and (min-width: 650px) and (max-width: 1000px){

	.top-nav ul{
		text-align: center;
		padding: 10px 0;
	}

	.top-nav ul li{
		border-top: 1px solid #FFFFFF;
		display: inline-block;
	}

	.home-banner{
		font-size: 100%;
	}

	.photo-grid{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.a, .b, .e, .f, .g {
		grid-column: 1 / 3;
	}

	.c{
		grid-column: 1 / 2;
		grid-row-start: 3;
		margin-left: 4%;
		margin-bottom: 4%;
	}

	.d{
		grid-column: 2 / 3;
		grid-row-start: 3;
		margin-right: 2%;
	}
}


@media only screen and (min-width: 1000px){

	header{
		padding: 0px 10% 5px 10%;
		width: 80%;
	}

	.top-nav ul{
		float: right;
	}

	.top-nav ul li{
		border: none;
		display: inline-block;
	}

	.top-nav ul li a{
		line-height: 30px;
	}

	.logo img{
		float: left;
	}

	.home-banner{
		font-size: 120%;
	}

	.photo-grid{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.a, .f{
		grid-column: 1 / 3;
	}

	.b, .e, .g{
		grid-column: 3 / 5;
	}

	.c{
		grid-column: 1 / 2;
		grid-row-start: 2;
		box-sizing: border-box;
		padding: 2%;
	}

	.d{
		grid-column: 2 / 3;
		grid-row-start: 2;
		box-sizing: border-box;
		padding: 2%;
	}

}
